<button type="submit" class="btn btn-primary" (click)="onAddContactClick()">Add Contact</button>
<nb-card>
  <nb-card-header>
    <h2>Contacts</h2> <br> <br>
    A contact can be any person who is relevant to your data protection.
  </nb-card-header>


  <nb-card-body>
    <ng2-smart-table (userRowSelect)="onContactRowSelect($event)" [settings]="settings" [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>