<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Document (New) </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="label">Label</label>
            <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="document.label">
          </div>


          <div> 
              <span *ngIf="!!document.file_name">
                  <a href={{document.file_url}} target="_blank">{{document.file_name}}</a> <br>
              </span> 
            Upload New File
            <div class="panel-body">
              <span *ngIf="isUploadFileImage">
                <img [src]="htmlLogoImageLink" class="img-fluid img-main" style="width:50%;" />
              </span>
            </div>

            
            <label class="btn btn-default">
              <input type="file" id="htmlLogoImageLink" (change)="onImageUpload($event)">
            </label>
          </div>


          <div class="form-group">
            <label for="details">Details</label>
            <textarea rows="5" nbInput fullWidth shape="round" name="details" placeholder="Details" [(ngModel)]="document.details"></textarea>
            <!-- <input type="text" class="form-control" name="details" placeholder="details" [(ngModel)]="document.details"> -->
          </div>

          <div class="form-group">
            <label for="status">Permissions</label>
            <select class="form-control" [(ngModel)]="document.permissions" name="permissions">
              <option>Admin</option>
              <option>User</option>
              <option>Auditor</option>
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" [(ngModel)]="document.status" name="status">
              <option>Active</option>
              <option>Inactive</option>
              <option>New</option>
              <option>Draft</option>
            </select>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" [(ngModel)]="document.type" name="type">
              <option>Data Processing Agreement</option>
              <option>Protocol</option>
              <option>Contract</option>
              <option>Training</option>
              <option>Guideline</option>
            </select>
          </div>

          <div class="form-group">
            <label for="confidentiality">Confidentiality</label>
            <select class="form-control" [(ngModel)]="document.confidentiality" name="confidentiality">
              <option>Open</option>
              <option>Internal</option>
              <option>Confidential</option>
              <option>Strictly confidential</option>
            </select>
          </div>


          <div class="form-group">
            <label for="isoReference">ISO 27001/18 Reference</label>
            <input type="text" class="form-control" name="isoReference" placeholder="isoReference" [(ngModel)]="document.iso_reference">
          </div>


          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>
        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- <img [src]="htmlLogoImageLink" class="img-fluid img-main" style="width:50%;" />
<a href={{document.file_url}} target="_blank">{{document.file_name}}</a>  -->