<button type="submit" class="btn btn-primary" (click)="onAddOrganizationClick()">Add Organization</button>
<nb-card>
    <nb-card-header>
      Organization Table
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table 
      (userRowSelect)="onUserRowSelect($event)"
      [settings]="settings" 
      [source]="source" 
      (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
    