<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Contact
      </nb-card-header>

      <nb-card-body>

        <form>



          <div class="form-group">
            <label for="salutation">Salutation</label>
            <select class="form-control" name="salutation" [(ngModel)]="contact.salutation">
              <option>Ms.</option>
              <option>Mr.</option>
            </select>
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="contact.first_name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="contact.last_name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="contact.email">
          </div>

          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="contact.role">
              <option>CEO</option>
              <option>Counsel</option>
              <option>Data Protection Officer</option>
              <option>Developer</option>
              <option>HR Manager</option>
            </select>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="contact.phone">
          </div>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>

        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>