<button type="submit" class="btn btn-primary" (click)="onAddClick()">Add System</button>
<nb-card>
    <nb-card-header>
        <h2>Systems</h2> <br> <br>
        Record all systems in use in your company and process personal data.
      </nb-card-header>


  <nb-card-body>
      <ng2-smart-table 
      (userRowSelect)="onUserRowSelect($event)"
      [settings]="settings" 
      [source]="source" 
      (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>