<button type="submit" class="btn btn-primary" (click)="onAddDatabreachClick()">Add Data Breach</button>
<nb-card>
    <nb-card-header>
      <h2>Data Breaches</h2> <br> <br>
      Data protection incidents can be documented here. The process is simplified by means of prefabricated texts.
    </nb-card-header>
  
  
    <nb-card-body>
        <ng2-smart-table 
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings" 
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  </nb-card>