<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>
        <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Organization
      </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="organization.name">
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" name="street" placeholder="Street" [(ngModel)]="organization.street">
          </div>
          <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" name="zip" placeholder="zip" [(ngModel)]="organization.zip">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="organization.city">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="organization.phone">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country" placeholder="Country" [(ngModel)]="organization.country">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="organization.email">
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" placeholder="Website" [(ngModel)]="organization.website">
          </div>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="currentCrudType == 'add'">
    <nb-card>
      <nb-card-header>Templates</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Select Template</label>
          <select size="10" class="form-control" [(ngModel)]="selectedTemplate" (change)="onSelectTemplate(template)">
            <option *ngFor="let template of templatesArr" [ngValue]="template">{{template.name}}</option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>