<button type="submit" class="btn btn-primary" (click)="onAddDocumentClick()">Add Document</button>
<nb-card>
  <nb-card-header>
    Documents
  </nb-card-header>


  <nb-card-body>
    <ng2-smart-table 
    (userRowSelect)="onDocumentRowSelect($event)"
    [settings]="settings"
    [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>