<button type="submit" class="btn btn-primary" (click)="onAddActivityClick()">Add Activity</button>
<nb-card>
    <nb-card-header>
      <h2>Processing Activities</h2> <br> <br>
      Here you enter all processes in the company in which personal data is processed.
    </nb-card-header>
  
  
    <nb-card-body>
        <ng2-smart-table 
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings" 
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  </nb-card>