<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Activity </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" [(ngModel)]="activity.status" name="status">
              <option>Active</option>
              <option>Draft</option>
              <option>Inactive</option>
              <option>In Examination</option>
              <option>In Audit</option>
            </select>
          </div>

          <div class="form-group">
            <label for="label">Label</label>
            <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="activity.label">
          </div>
          <div class="form-group">
            <label for="purpose">Purpose</label>
            <!-- <input type="text" class="form-control" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"> -->
            <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"></textarea>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="activity.role">
              <option>Controller</option>
              <option>Joint Controller</option>
              <option>Processor</option>
            </select>
          </div>
          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" name="department" [(ngModel)]="activity.department">
              <option>Billing</option>
              <option>Controlling</option>
              <option>HR</option>
              <option>IT</option>
              <option>Legal Department</option>
              <option>QA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="processOwner">Process Owner</label>
            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}} {{contact.last_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="storagePeriod">Storage Period</label>
            <select class="form-control" name="storagePeriod" [(ngModel)]="activity.storage_period">
              <option>2 GB</option>
              <option>No Storage Limits</option>
            </select>
          </div>
          <div class="form-group">
            <label for="legal">Legal</label>
            <!-- <div class="demo-checkboxes col-sm-5"> -->
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="c1" [(ngModel)]="activity.is_legal_public_interest" [checked]="activity.is_legal_public_interest">Public Interest
              </label>
            </div>
            <div class="form-group" *ngIf="activity.is_legal_public_interest">
              <label for="details">Details:</label>
              <textarea rows="5" nbInput fullWidth shape="round" name="t1" [(ngModel)]="activity.legal_text_public_interest"></textarea>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="c2" [(ngModel)]="activity.is_legal_consent" [checked]="activity.is_legal_consent">Consent
              </label>
            </div>
            <div class="form-group" *ngIf="activity.is_legal_consent">
              <label for="details">Details:</label>
              <textarea rows="5" nbInput fullWidth shape="round" name="t2" [(ngModel)]="activity.legal_text_consent"></textarea>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="c3" [(ngModel)]="activity.is_legal_contract" [checked]="activity.is_legal_contract">Contract
              </label>
            </div>
            <div class="form-group" *ngIf="activity.is_legal_contract">
              <label for="details">Details:</label>
              <textarea rows="5" nbInput fullWidth shape="round" name="t1" [(ngModel)]="activity.legal_text_contract"></textarea>
            </div>
          </div>
          <br>

          <div class="form-group">
            <label for="legal">Access</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1" [(ngModel)]="activity.is_access_ceo" [checked]="activity.is_access_ceo">CEO
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a2" [(ngModel)]="activity.is_access_ciso" [checked]="activity.is_access_ciso">CISO
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a3" [(ngModel)]="activity.is_access_counsel" [checked]="activity.is_access_counsel">Counsel
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="legal">TOMs</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="t1" [(ngModel)]="activity.is_toms_ability_it" [checked]="activity.is_toms_ability_it">Ability for IT users to restrict access by others
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="t2" [(ngModel)]="activity.is_toms_alarm" [checked]="activity.is_toms_alarm">Alarm
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="t3" [(ngModel)]="activity.is_toms_automatic_logging" [checked]="activity.is_toms_automatic_logging">Automatic logging of unauthorized accesses
              </label>
            </div>
          </div>

          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="currentCrudType == 'add'">
    <nb-card>
      <nb-card-header>Templates</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Select Template</label>
          <select size="10" class="form-control" [(ngModel)]="selectedTemplate" (change)="onSelectTemplate(template)">
            <option *ngFor="let template of templatesArr" [ngValue]="template">{{template.label}}</option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>