<h2 class="title">Welcome. Here you will find an overview of the status of all your activities.</h2>



<div class="row">
    <div class="col-xxxl-9 col-xl-12">
        <ngx-solar [chartType]="1"></ngx-solar>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-10 col-md-6">
        <ngx-mybubble-map></ngx-mybubble-map>
    </div>
  
  </div>