<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>
          <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        Technical Organisational Security Measure</nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" [(ngModel)]="activity.status" name="status">
              <option>Active</option>
              <option>Draft</option>
              <option>Inactive</option>
              <option>In Examination</option>
              <option>In Audit</option>
            </select>
          </div>

          <div class="form-group">
            <label for="label">Label</label>
            <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="activity.label">
          </div>
          <div class="form-group">
            <label for="purpose">Details</label>
            <!-- <input type="text" class="form-control" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"> -->
            <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"></textarea>
          </div>
          <div class="form-group">
            <label for="processOwner">TOMs Owner</label>
            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}} {{contact.last_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="role">Classification</label>
            <select class="form-control" name="role" [(ngModel)]="activity.role">
              <option>Controller</option>
              <option>Joint Controller</option>
              <option>Processor</option>
            </select>
          </div>
          <div class="form-group">
            <label for="department">Group</label>
            <select class="form-control" name="department" [(ngModel)]="activity.department">
              <option>Billing</option>
              <option>Controlling</option>
              <option>HR</option>
              <option>IT</option>
              <option>Legal Department</option>
              <option>QA</option>
            </select>
          </div>
          

          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" >{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="currentCrudType == 'add'">
    <nb-card>
      <nb-card-header>Templates</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Select Template</label>
          <select size="10" class="form-control" [(ngModel)]="selectedTemplate" (change)="onSelectTemplate(template)">
            <option *ngFor="let template of templatesArr" [ngValue]="template">{{template.label}}</option>
          </select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>