<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Data Breach Report</nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="status">State</label>
            <select class="form-control" name="status">
              <option>Active</option>
              <option>Draft</option>
              <option>Inactive</option>
              <option>In Examination</option>
              <option>In Audit</option>
            </select>
          </div>
          <div class="form-group">
            <label for="processOwner">Reporting Person</label>
            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}}
                {{contact.last_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="processOwner">Responsible Person</label>
            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}}
                {{contact.last_name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="label">Label</label>
            <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="activity.label">
          </div>

          <div class="form-group">
            <label for="purpose">Details about the kind of data breach </label>
            <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"></textarea>
          </div>

          <div class="form-group">
            <label for="purpose">Description of likely consequences </label>
            <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose"></textarea>
          </div>

          <div class="form-group">
            <label for="legal">Data Subject Categories
            </label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Customers
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Employees
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Job Applicant
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Newsletter subscribers
              </label>
            </div>
          </div>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>
        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>