<div class="row">
  <div class="col-md-6">
    <nb-card>
        <nb-card-header>
            <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            User
          </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="contact">Contact</label>
            <!-- <input type="text" class="form-control" name="contact" placeholder="Contact" [(ngModel)]="user.contact_id"> -->

            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}} {{contact.last_name}}</option>
            </select>



          </div>
          <div class="form-group">
            <label for="loginEmail">Login Email</label>
            <input type="text" class="form-control" name="loginEmail" placeholder="Login Email" [(ngModel)]="user.login_email">
          </div>
          <div class="form-group">
            <label for="permissions">Permissions</label>

            <select class="form-control" [(ngModel)]="user.permissions" name="permissions">
              <option>Admin</option>
              <option>User</option>
              <option>Auditor</option>
            </select>
  

            <!-- <input type="text" class="form-control" name="permissions" placeholder="Permissions" [(ngModel)]="user.permissions"> -->
          </div>




          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">{{submitBtnText}}</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="onResetClick()">Reset</button>
          </div>
        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>