<button type="submit" class="btn btn-primary" (click)="onAddClick()">Add Data Subject Request</button>
<nb-card>
    <nb-card-header>
      <h2>Data Subject Requests</h2> <br> <br>
      If you receive a request for information or deletion from someone, you can document it here.
    </nb-card-header>
  
  
    <nb-card-body>
        <ng2-smart-table 
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings" 
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  </nb-card>