<div class="row">
  <div class="col-md-6">

    <nb-card>
      <nb-card-header>
        <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Ticket
      </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">

            <div class="form-group">
              <label for="label">Label</label>
              <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="activity.label">
            </div>
            <div class="form-group">
              <label for="purpose">Details</label>
              <!-- <input type="text" class="form-control" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"> -->
              <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"></textarea>
            </div>

            <div class="form-group">
              <label for="role">Type</label>
              <select class="form-control" name="role">
                <option>Access Request</option>
                <option>Rectification Request</option>
                <option>Erasure Request</option>
                <option>Form</option>
                <option>Education</option>
              </select>
            </div>
            <div class="form-group">
              <label for="processOwner">Assigned Operator</label>
              <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
                <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}}
                  {{contact.last_name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="role">State</label>
              <select class="form-control" name="state">
                <option>Recorded</option>
                <option>In Progress</option>
                <option>Completed</option>
                <option>Postponed</option>
                <option>Denied</option>
              </select>
            </div>

          </div>

          <div class="btn-toolbar">
            <button type="" class="btn btn-primary">{{submitBtnText}}</button>&nbsp;
            <button type="" class="btn btn-danger">Reset</button>
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>