<!-- <nb-card size="xsmall" class="solar-card">
    <nb-card-header>No. of {{displayChartType}}</nb-card-header>
    <nb-card-body>
        <div echarts [options]="option" class="echart">
        </div>
        <div class="info">
            <div class="details ">
                <button class="btn btn-danger" (click)="onViewClick()">View {{displayChartType}}</button>
            </div>
        </div>


    </nb-card-body>
</nb-card> -->

<div class="row">
    <div class="col-6 col-sm-6">
        <nb-card>
            <nb-card-header>Users - {{totalUsers}}
                <button class="btn btn-danger btn-xs" (click)="onViewClick(1)">View</button>
            </nb-card-header>

            <nb-card-body>
                <chart type="doughnut" [data]="userChartData" [options]="userChartOptions"></chart>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-6 col-sm-6">
        <nb-card>
            <nb-card-header>Contacts - {{totalContacts}}
                <button class="btn btn-danger btn-xs" (click)="onViewClick(2)">View</button>
            </nb-card-header>
            <nb-card-body>
                <chart type="doughnut" [data]="contactChartData" [options]="contactChartOptions"></chart>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-6 col-sm-6">
        <nb-card>
            <nb-card-header>Activities - {{totalActivities}}
                <button class="btn btn-danger btn-xs" (click)="onViewClick(3)">View</button>
            </nb-card-header>
            <nb-card-body>
                <chart type="doughnut" [data]="activityChartData" [options]="activityChartOptions"></chart>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-6 col-sm-6">
        <nb-card>
            <nb-card-header>Documents - {{totalDocuments}}
                <button class="btn btn-danger btn-xs" (click)="onViewClick(4)">View</button>
            </nb-card-header>
            <nb-card-body>
                <chart type="doughnut" [data]="documentChartData" [options]="documentChartOptions"></chart>
            </nb-card-body>
        </nb-card>
    </div>

</div>