<button type="submit" class="btn btn-primary" (click)="onAddTomClick()">Add TOM</button>
<nb-card>
    <nb-card-header>
      <h2>TOMs</h2> <br> <br>
      Record here your technical and organisational measures to improve data protection and data security.
    </nb-card-header>
  
  
    <nb-card-body>
        <ng2-smart-table 
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings" 
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  </nb-card>