<button type="submit" class="btn btn-primary" (click)="onAddUserClick()">Add User</button>
<nb-card>
    <nb-card-header>
        <h2>Users</h2> <br> <br>
        Users are persons with access to this site. Each user is assigned to a contact.
      </nb-card-header>


  <nb-card-body>
    <ng2-smart-table (userRowSelect)="onUserRowSelect($event)"   [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>