<button type="submit" class="btn btn-primary" (click)="onAddActivityClick()">Add Ticket</button>
<nb-card>
    <nb-card-header>
      <h2>Tickets</h2> <br> <br>
      Assign tasks to your teammates and keep an eye on your own tasks.
    </nb-card-header>
  
  
    <nb-card-body>
        <ng2-smart-table 
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings" 
        [source]="source" 
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  </nb-card>