<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <button class="btn"><i class="nb-arrow-thin-left" (click)="onCancelClick()"></i></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Data Subject Request (— Today) </nb-card-header>
      <nb-card-body>

        <form>
          <div class="form-group">
            <label for="status">State</label>
            <select class="form-control" name="status">
              <option>Recoreded</option>
              <option>In Progress</option>
              <option>Denied</option>
              <option>Completed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="processOwner">Assigned Operator</label>
            <select class="form-control" name="processOwner" [(ngModel)]="processOwner">
              <option *ngFor="let contact of contactsArr" [value]="contact.first_name+defaultSpace+contact.last_name">{{contact.first_name}}
                {{contact.last_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="label">Name or ID of the data subject</label>
            <input type="text" class="form-control" name="label" placeholder="Label" [(ngModel)]="activity.label">
          </div>

          <div class="form-group">
            <label for="purpose">Details about Identity Check </label>
            <textarea rows="5" nbInput fullWidth shape="round" name="purpose" placeholder="Purpose" [(ngModel)]="activity.purpose"></textarea>
          </div>

          <div class="form-group">
            <label for="legal">Types
            </label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Access Request
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Rectification Request
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Erasure Request
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="a1">Minimisation Request
              </label>
            </div>
          </div>
          <div class="form-group">
              <label for="legal">Data Subject Categories
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="a1">Customers
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="a1">Employees
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="a1">Job Applicant
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="a1">Newsletter subscribers
                </label>
              </div>
            </div>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary">{{submitBtnText}}</button>&nbsp;
            <button class="btn btn-danger">Reset</button>
          </div>
        </form>


      </nb-card-body>
    </nb-card>
  </div>
</div>